.paginationButtons {
  width: fit-content;
  margin-bottom: 2em;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}

.paginationButtons .MuiSvgIcon-root {
  font-size: 1.5em;
  border: 2px solid var(--clr-grey);
  border-radius: 100vmax;
}
